<div class="row">
  <div class="col-sm-12 col-md-5 text-center">
    <h1>Trade Packs</h1>
    <h4><%= badge(:default, 'First') %></h4>
    <%= link_to 'Create a Trade Pack Item', new_component_path, class: 'btn btn-block btn-primary btn-lg' %>
    <%= render partial: '/modals/new_trade_pack' %>
  </div>

  <div class="col-md-2">
    <br /><br/>
  </div>

  <div class="col-sm-12 col-md-5 text-center">
    <h1>Trade Runs</h1>
    <h4><%= badge(:default, 'Second') %></h4>
    <%= link_to 'Create a Trade Run Route', new_trade_route_path, class: 'btn btn-block btn-primary btn-lg' %>
    <%= link_to 'New Trade Run', new_trade_run_path, class: 'btn btn-success btn-lg btn-block' %>
  </div>
</div>
