<h1 class="text-center"><%= title %></h1>
  <%= simple_form_for component do |f| %>
    <div class="row">
      <%= f.input :name, wrapper_class: 'col-sm-12 col-md-6' %>
      <%= simple_fields_for :cost do |c| %>
        <% [:gold, :silver, :copper].each do |k| %>
          <%= c.input k, wrapper_class: 'col-sm-4 col-md-2', input_html: { value: (component.cost.present? ? component.cost[k] : '') } %>
        <% end %>
      <% end %>
    </div>
    <br />
    <%= f.submit button, class: 'btn btn-success btn-block' %>
  <% end %>
