<p id="notice"><%= notice %></p>

<h1>Trade Pack Components</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trade_pack_components.each do |trade_pack_component| %>
      <tr>
        <td><%= link_to 'Show', trade_pack_component %></td>
        <td><%= link_to 'Edit', edit_trade_pack_component_path(trade_pack_component) %></td>
        <td><%= link_to 'Destroy', trade_pack_component, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trade Pack Component', new_trade_pack_component_path %>
