<h1 class="text-center">New Trade Pack Component</h1>
<%= simple_form_for @trade_pack_component do |f| %>
  <%= f.input :name %>
  <%= f.input :cost %>
  <%= f.submit 'Create Trade Pack Component', class: 'btn btn-success btn-block' %>
<% end %>

<%= link_to 'Back', trade_pack_components_path %>
