<h1 class="text-center">New Trade Pack</h1>
<%= simple_form_for @trade_pack, html: { class: 'row' } do |f| %>

  <div class="col-sm-12 col-md-6 <%= @rows == 2 ? 'col-lg-4' : '' %>">
    <%= f.input :name %>
    <%= f.input :labor_cost, label: 'Cost <span class="badge badge-info">Labor</span>'.html_safe %>
    <%= f.input :region, label: "Region <span class='badge badge-danger'>#{@continent}</span>".html_safe, collection: @regions, include_blank: false %>
  </div>
  <%= render partial: 'component_rows', locals: { rows: @rows, row_size: @row_size, component_count: @component_count, f: f } %>

  <br />
  <div class="col-sm-12"><%= f.submit 'Create Trade Pack', class: 'btn btn-success btn-block' %></div>
<% end %>
