<h1 class="text-center">New Trade Pack</h1>
<%= simple_form_for @trade_pack, html: { class: 'row' } do |f| %>
  <div class="col-sm-12 col-md-6">
    <%= f.input :name %>
    <%= f.input :labor_cost %>
  </div>

  <br />
  <%= f.submit 'Create Trade Pack', class: 'btn btn-success btn-block' %>
<% end %>
<div class="col-sm-12 col-md-6">
  <br />
  <%= render layout: 'layouts/modal', locals: { modal_id: 'component', title: 'Add Component', close_button: nil } do %>
    <%= render partial: 'trade_pack_components/new', locals: { trade_pack_component: TradePackComponent.new } %>
  <% end %>
  <br />
  <div id="trade-pack-components-list">
    <%#= render partial: 'trade_pack_components/show', locals: { components: @trade_pack.components } %>
  </div>
</div>
