<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand">Trade Master</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <%= link_to 'Home', root_path, class: nav_class(root_path) %>
      <%= link_to 'Items', components_path, class: nav_class(components_path) %>
      <%= link_to 'Packs', trade_packs_path, class: nav_class(trade_packs_path) %>
      <%= link_to 'Routes', trade_routes_path, class: nav_class(trade_routes_path) %>
      <%= link_to 'Runs', trade_runs_path, class: nav_class(trade_runs_path) %>
    </div>
  </div>
</nav>
<br />
