<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand">Trade Master</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <%= link_to 'Home', root_path, class: nav_class(root_path) %>
      <li class="dropdown">
        <a href="#" class="nav-item nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Create <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <%= link_to 'Pack', new_trade_pack_path, class: nav_class(new_trade_pack_path) %>
          <%= link_to 'Route', new_trade_route_path, class: nav_class(new_trade_route_path) %>
          <%= link_to 'Runs', trade_runs_path, class: nav_class(trade_runs_path) %>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="nav-item nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">View <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <%= link_to 'Packs', trade_packs_path, class: nav_class(trade_packs_path) %>
          <%= link_to 'Routes', trade_routes_path, class: nav_class(trade_routes_path) %>
          <%= link_to 'Runs', trade_runs_path, class: nav_class(trade_runs_path) %>
        </ul>
      </li>
    </div>
  </div>
</nav>
<br />
